{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}" class="breadcrumbs-link">Home</a>
    &nbsp;/&nbsp;</li>
<li><a href="{% url 'products' %}" class="breadcrumbs-link"> Products</a>&nbsp;/&nbsp;</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Our Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="text-muted">Price: {{ product.get_currency_symbol }}{{ product.price }}</p>
                    <a href="{% url 'product_detail' product_id=product.product_id %}">View Details</a>
                    <a href="{% url 'bag:add_to_bag' product.product_id %}" class="btn btn-primary">Add to Basket</a>

                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No products available.</p>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
